.barrier{
    height: 100px;
    width: 100%;
}

.notFoundBox{
    margin-top: 100px;
    margin-left: 27.5%;
    background-color: #CADAE2;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 60%;
    border-radius: 30px;
}

.notFoundBox h1{
    font-size: 80px;
}

.notFoundBox a{
    font-size: 20px;
    color: #57B2C7;
}

.notFoundBox a:hover{
    color: #262633;
}