.navbar{
    height: 16vh;
    position:fixed;
    top:0;
    background-color: #749CB2;
    width: 100vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobileNavbar{
    height: 80px;
    background-color: #749CB2;
    position:fixed;
    top:0;
}

.links{
    text-align: center;
    justify-content: center;
    float: right;
    margin-right: 20%;
}

.linkBox{
    margin: auto;
    float: right;
    display: flex;
    width: 70%;
    font: 'Rubik', sans-serif;
}

.eachLink{
    margin-right: 10%;
    font: 'Rubik', sans-serif;
}

.firstLink{
    margin-left: 0px;
}

.links a{
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-decoration: none;
}

.links a:hover{
    color: #75C0D1;
}

.logo{
    float: left;
    margin-left: 4%;
}

.reducedLogo{
    margin-left: 2%;
    float: left;
}