.container {
    display: flex;
}

.mobileContainer{
    width: 100vw;
    display: block;
}

.barrier{
    height: 16vh;
    width: 100%;
}

.aboutMeBoxLeft{
    width: 30%;
    margin-left: 15%;
    height: 100%;
    color: white;
    text-align: left;
}

.aboutMeBoxLeft p, h1, h2, h3, h4, h5, h6{
    margin-left: 45%;
}

.aboutMeBoxMobile p, h1, h2, h3, h4, h5, h6{
    margin-left: 0%;
}

.aboutMeBoxMobile h1{
    margin-bottom: -3vh;
}

.aboutMeBoxMobile {
    width: 70vw;
    float: center;
    height: auto;
    color: white;
    text-align: left;
    margin-left: -5%;
    margin-right: auto;
}

.aboutMeBoxMobileText{
    width: 70vw;
    height: auto;
    float: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: pink;
    word-wrap: break-word;
    font-size: 25px;
    margin-left: 35%;
    
}

.aboutMeBoxMobileText h2{
    font-family: 'Shrikhand', serif;
}

.aboutMeBoxLeft h1, .aboutMeBoxMobile h1{
    font-size: 100px;
    font-family: 'Rubik', sans-serif;
}

.aboutMeBoxLeft h2{
    margin-top: -7%;
    font-size: 18px;
    font-family: 'Shrikhand', serif;
}

.aboutMeBoxRight{
    width: 45%;
    height: 100%;
    padding-top: 75px;
    text-align: left;
    color: white;
}

.aboutMeBoxRight p{
    text-indent: 40px;
    font-size: 30px;
    padding-right: 20%;
    padding-left: 10%;
    font-family: 'Source Sans 3', sans-serif;
    margin-top: 20px;
}

.boldSans{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.aboutSocialLinks{
    margin-left: 0;
}

.aboutSocialLinksMobile{
    margin-left: 0;
}

.iconStyle{ 
    height: 30px;
    margin-right: 20px;
    margin-left: 6px;
}