.navbar{
    position:fixed;
    top:0;
    background-color: #749CB2;
    height: 16vh;
    width: 100%;
    color: white;
}

.links{
    height: 16vh;
    margin-top: 4vh;
    text-align: center;
    justify-content: center;
    width: 60%;
    float: right;
    margin-right: 13%;
}

.linkBox{
    margin: auto;
    float: right;
    display: flex;
    width: 70%;
    font: 'Rubik', sans-serif;
}

.eachLink{
    margin-left: 10%;
    font: 'Rubik', sans-serif;
}

.firstLink{
    margin-left: 0px;
}

.links a{
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-decoration: none;
}

.links a:hover{
    color: #75C0D1;
}

.logo{
    margin-top: 0.8%;
    height: 12vh;
    float: left;
    margin-left: 4%;
}